/** this is the ORIGINAL orange, i am not a fan of it. **/
//$primaryOrange: #cf5a1b;
$primaryOrange: #de6c02;
$accentPastelSalmon: #ff9595;
$accentBlueSteel: #90A4AE;

$genericPanelBG: #f5f5f5;
$genericPanelBorderColor: #dddddd;

$userSidebarFontSizeTitle: 0.75rem;
$userSidebarFontSizeTitleDetails: 0.9rem;
$userSidebarFontSizeSmall: 0.675rem;
$userSidebarFontSizeMedium: 0.75rem;

$bodyBG: #f0f0f0;
$genericTextColor: #525252;
$panelHoverBG: #f7f7f7;

$activeGreySlightlyDarker: #5c5c5c;
$activeGrey: #525252;
$greyActiveSlightlyLighter: #666;
$borderOnboardingPanels: #c7c7c7;

$bannerBG: #808080;
$labelColor: #828282;

$contentColour: #b9b9b9;

$postContentColour: #828282;
$mainBlue: #58c8b4;
$mainYellow: #58c8b4;
$mainBrown: #58c8b4;
$backgroundBrown: #4d443e;
$darkBrown: #362f2b;

$mainFont: 'Oxygen', serif;

$accentBlue: blue;