
.contact{
    
    &-info{
        max-width: 80%;
        margin: auto;
        h2{
            font-family: 'Raleway', sans-serif;
            color: #636363;
            font-size: 30px;
            font-weight: 400;
        }
        p{
            color: #636363;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        a{
            color: #636363!important;
        }
    }

    .wpcf7-form{

        .wpcf7-submit{
            background-color: $mainBrown;
            border-color: $mainBrown;

            &:hover{
                background-color: white;
                color: $mainBrown;
            }
        }
    }
}

.travel{
    margin: 100px 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &-box{
        background-color: #f6f5f5;
        width: 1000px;
        max-width: 95%;
        text-align: center;
        padding: 50px 0;
        img{
            margin-top: -130px;
        }
        h2{
            font-family: $mainFont;
            color: $mainYellow;
            text-transform: uppercase;
            font-size: 30px;
        }

        p{
            color: $mainBrown;
            font-family: 'Open Sans', sans-serif; 
            font-size: 14px;
            
        }
    }
}

.meeting1{
    text-align: center;

    &-submit{
        margin: auto;

        input{
            display: block;
            margin: 50px auto 0;
            background-color: $mainYellow;
            border: 2px solid $mainYellow;
            color: white;
            font-family: $mainFont;
            padding: 10px 40px;
            border-radius: 50px;
            text-transform: uppercase;
            font-size: 20px!important;
            width: 400px;
            max-width: 95%;
            letter-spacing: 4px;
            outline: none;
            box-shadow: none;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                background-color: $mainBrown;
                border-color: $mainBrown;
            }

        }
    

    }
    h2{
        font-family: $mainFont;
        color: $mainYellow;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 3px;
        margin-bottom: 50px;

    }
    p{
        color: $mainBrown;
            font-family: 'Open Sans', sans-serif; 
            font-size: 20px;
            font-weight: 500;

            @media screen and (max-width: 992px){
                font-size: 16px;
            }
    }

    form{
       
        .radioCat{
            display: block;
            padding: 10px 0;
            margin-left: 0px;
            text-align: left;
            width: 250px;
            max-width: 95%;
            margin: auto;

            input{
                margin: 0px;
                cursor:pointer;
            }
        }
        p{
            display: inline-block;
            padding-left: 20px;
            margin: 0px;
        }
       
    }
}
#contact2{
     .modal-body{
        // height: 800px;
    }
}/*
 *  STYLE 2
 */

#contactInfo2::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// border-radius: 10px;
	// background-color: #F5F5F5;
}

#contactInfo2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#contactInfo2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d8d8d8;
}

.meeting2{
    text-align: center;

     &-submit{
        margin: auto;

        input{
            display: block;
            margin: 50px auto 0;
            background-color: $mainYellow;
            border: 2px solid $mainYellow;
            color: white;
            font-family: $mainFont;
            padding: 10px 40px;
            border-radius: 50px;
            text-transform: uppercase;
            font-size: 20px!important;
            width: 400px;
            max-width: 95%;
            letter-spacing: 4px;
            outline: none;
            box-shadow: none;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                background-color: $mainBrown;
                border-color: $mainBrown;
            }

        }    

    }
    h2{
        font-family: $mainFont;
        color: $mainYellow;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 3px;
        margin-bottom: 50px;

    }
    p{
        color: $mainBrown;
            font-family: 'Open Sans', sans-serif; 
            font-size: 20px;
            font-weight: 500;
    }

    form{
       
        .radioCat{
            display: inline-block;
            padding: 10px 0;
            margin-left: 0px;
            text-align: left;
            max-width: 95%;
            margin: 0 15px;;

            input{
                margin: 0px;
            }
        }
        p{
            display: inline-block;
            padding-left: 20px;
            margin: 0px;

            @media screen and (max-width: 768px){
                display: block;
            }
        }
       
    }
}
.home-contact-form{
    .wpcf7-form{
        max-width: 80%!important;
    }
}
.meeting2-single{
    display: none;
    .wpcf7-form{
        float: none;
        margin: auto;
        border: none;
        box-shadow: none;
        padding: 50px 0 0;
        max-width: 80%!important;
        input{
            width: 95%;
            
        }
    }
    .wpcf7-submit{
        margin-top: 30px;
    }
}

.meeting2-partner{
    display: none;
    .wpcf7-form{
        float: none;
        margin: auto;
        border: none;
        box-shadow: none;
        padding: 50px 0 0;
        width: 800px;
        
    }
    .wpcf7-submit{
        margin-top: 30px;
    }

}

// /* Important part */
// .modal-dialog{
//     overflow-y: initial !important
// }
// .modal-body{
//     overflow-y: auto;
    
// }

#contact2{
     overflow-y: initial !important
}

.partnerRadio{
    cursor: pointer;
}

.firstHeading{
    color: $mainBlue;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.bodyContent{
    font-family: "Oxygen", sans-serif;
    font-weight: 100;
    font-size: 13px;
    text-transform: uppercase;
}